@import "tailwindcss";
@import "@xyflow/react/dist/style.css";

html,
body,
#root {
  @apply bg-neutral-200 dark:bg-neutral-900;
}

.dark {
  & .react-flow__node,
  & .react-flow__node-default {
    background: #111;
    color: white;
  }
}

.light {
  & .react-flow__node,
  & .react-flow__node-default {
    background: white;
    color: #111;
  }
}
